body {
  margin: 0;
  height: 100vh;
  background-color: #eee;
}
/* * {
  border: 1px solid black;
} */
.flex {
  display: flex;
}
.baiSe {
  background-color: white;
}
.column {
  flex-direction: column;
}
.flex1 {
  flex: 1;
}
.mg8 {
  margin: 8px;
}
.mgr8 {
  margin-right: 8px;
}
.mrt8 {
  margin-top: 8px;
}
.yinying {
  box-shadow: rgb(rgb(185, 29, 29), rgb(154, 194, 154), rgb(36, 36, 188));
}
.daoHang {
  padding: 10px 20px;
  /* border-bottom: 1px solid rgb(68, 49, 117); */
}
.button2 {
  background-color: white;
  color: black;
  border: 2px solid rgb(191, 115, 58);
  width: 80px;
}
.row {
  flex-direction: row;
}
.background-image {
  background-image: url("../re/image1/cowBoy.png");
  background-size: 120px;
}
.font {
  text-align: center;
  color: rgb(191, 115, 58);
}
